{% extends "base.html" %}

{% block conteudo %}

    <div class="pt-4 pl-4">
        <!-- Modal toggle -->
        <div class="lg:fixed flex justify-center pb-5">
            <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                Adicionar Cliente
            </button>
        </div>
        <div class="flex justify-center">
            <div  class="flex flex-col lg:w-3/5 w-4/5">
            <div class="pb-4">
                <div class="relative mt-1">
                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Busque por um cliente...">
                </div>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 w-1/2">
                                Nome do Cliente
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Telefone do Cliente
                            </th>
                            <th scope="col" class="px-6 py-3">
                            </th>
                            <th scope="col" class="px-6 py-3">
                            </th>
                            <th scope="col" class="px-6 py-3">
                            </th>
                            <th scope="col" class="px-6 py-3">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes_devedores %}
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ cliente.nome_cliente|truncatechars:52 }}    
                                <i class="fas fa-exclamation-circle text-red-500 ml-2" title="Cliente devedor"></i>
                            </th>
                            <td class="px-6 py-4">
                                {{ cliente.tel_cliente }}
                            </td>
                            <td class="px-2 py-4">
                                <button data-cliente-id="{{ cliente.id }}" data-modal-target="info-modal" data-modal-toggle="info-modal" class="font-medium text-blue-600 hover:underline">Informações</button>
                            </td>
                            <td class="px-2 py-4">
                                <button data-cliente-id="{{ cliente.id }}" data-modal-target="editar-modal" data-modal-toggle="editar-modal" class="font-medium text-blue-600 hover:underline">Editar</button>
                            </td>
                            <td class="px-2 py-4">
                                <form action="./fantasias/{{cliente.id}}">
                                    <button type="submit" id="add-fantasias" data-cliente-id="{{ cliente.id }}" class="font-medium text-blue-600 hover:underline">Histórico</button>
                                </form>
                            </td>
                            <td class="px-2 py-4">
                                <button data-cliente-id="{{ cliente.id }}" class="font-medium text-blue-600 hover:underline" onclick="excluirCliente(event)">Excluir</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody>
                        {% for cliente in clientes_em_dia %}
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ cliente.nome_cliente|truncatechars:52 }}
                            </th>
                            <td class="px-6 py-4">
                                {{ cliente.tel_cliente }}
                            </td>
                            <td class="px-2 py-4">
                                <button data-cliente-id="{{ cliente.id }}" data-modal-target="info-modal" data-modal-toggle="info-modal" class="font-medium text-blue-600 hover:underline">Informações</button>
                            </td>
                            <td class="px-2 py-4">
                                <button data-cliente-id="{{ cliente.id }}" data-modal-target="editar-modal" data-modal-toggle="editar-modal" class="font-medium text-blue-600 hover:underline">Editar</button>
                            </td>
                            <td class="px-2 py-4">
                                <form action="./fantasias/{{cliente.id}}">
                                    <button type="submit" id="add-fantasias" data-cliente-id="{{ cliente.id }}" class="font-medium text-blue-600 hover:underline">Histórico</button>
                                </form>
                            </td>
                            <td class="px-2 py-4">
                                <button data-cliente-id="{{ cliente.id }}" class="font-medium text-blue-600 hover:underline" onclick="excluirCliente(event)">Excluir</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <!-- Main modal -->
    <div id="crud-modal" data-modal-backdrop="static" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-3/5 max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900">
                        Adicionar Novo Cliente
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <form 
                class="p-4 md:p-5"
                method="post"
                action="{% url 'clientes' %}"
                >
                    {% csrf_token %}
                    <div class="grid gap-4 mb-4 grid-cols-6">
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Nome</label>
                            <input type="text" name="nome" id="nome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o nome do cliente..." required="" maxlength="100">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                            <label class="block mb-2 text-sm font-medium text-gray-900">CPF/CNPJ</label>
                            <input type="text" name="cpf" id="cpf" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o CPF do cliente..." required="" maxlength="18">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Telefone</label>
                        <input type="text" name="telefone" id="telefone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o telefone do cliente..." required="" maxlength="14">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Telefone Secundário</label>
                        <input type="text" name="telefone2" id="telefone2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o telefone do cliente...(opcional)" maxlength="14">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">CEP</label>
                        <input type="text" name="cep" id="cep" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o CEP do cliente... (opcional)" onblur="validateCep('cep', 'C')">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Logradouro</label>
                        <input type="text" name="logradouro" id="logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o logradouro do cliente..." required="" maxlength="150">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Número</label>
                        <input type="text" name="num_logradouro" id="num_logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o número..." required="" maxlength="15">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Complemento</label>
                        <input type="text" name="complemento_logradouro" id="complemento_logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o complemento... (opcional)" maxlength="80">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Bairro</label>
                        <input type="text" name="bairro_logradouro" id="bairro_logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o bairro... (opcional)" maxlength="80">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">UF</label>
                        <input type="text" name="uf_logradouro" id="uf_logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o Estado... (opcional)" maxlength="2">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Município</label>
                        <input type="text" name="municipio_logradouro" id="municipio_logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o Município... (opcional)" maxlength="80">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Data de Nascimento</label>
                        <input type="date" name="data_nasc" id="data_nasc" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="text" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Digite o Email... (opcional)" maxlength="80">
                    </div>
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Observação do cliente</label>
                            <textarea name="observacao" id="observacao" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Escreva alguma observação do cliente... (opcional)"></textarea>                    
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            Adicionar Cliente
                        </button>
                        <button type="button" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" onclick="limparCampos()">
                            Limpar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 

    <!-- Editar modal -->
    <div id="editar-modal" data-modal-backdrop="static" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-3/5 max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900">
                        Editar Cliente
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="editar-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <form 
                class="p-4 md:p-5"
                id="editar-form"
                >
                    {% csrf_token %}
                    <div class="grid gap-4 mb-4 grid-cols-6">
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Nome</label>
                            <input type="text" name="nome_edit" id="nome_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="" maxlength="100">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                            <label class="block mb-2 text-sm font-medium text-gray-900">CPF/CNPJ</label>
                            <input type="text" name="cpf_edit" id="cpf_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="" maxlength="18">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Telefone</label>
                        <input type="text" name="telefone_edit" id="telefone_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="" maxlength="14" minlength="14">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Telefone Secundário</label>
                        <input type="text" name="telefone2_edit" id="telefone2_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" maxlength="14">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">CEP</label>
                        <input type="text" name="cep_edit" id="cep_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" onblur="validateCep('cep_edit', 'E')">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Logradouro</label>
                        <input type="text" name="logradouro_edit" id="logradouro_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="" maxlength="150">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Número</label>
                        <input type="text" name="num_logradouro_edit" id="num_logradouro_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="" maxlength="15">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Complemento</label>
                        <input type="text" name="complemento_logradouro_edit" id="complemento_logradouro_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" maxlength="80">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Bairro</label>
                        <input type="text" name="bairro_logradouro_edit" id="bairro_logradouro_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" maxlength="80">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">UF</label>
                        <input type="text" name="uf_logradouro_edit" id="uf_logradouro_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" maxlength="2">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Município</label>
                        <input type="text" name="municipio_logradouro_edit" id="municipio_logradouro_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" maxlength="80">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Data de Nascimento</label>
                        <input type="date" name="data_nasc_edit" id="data_nasc_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="text" name="email_edit" id="email_edit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" maxlength="80">
                    </div>
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Observação do cliente</label>
                            <textarea name="observacao_edit" id="observacao_edit" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>                    
                        </div>
                    </div>
                    <button type="button" onclick="editarCliente()" data-modal-toggle="editar-modal" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        Confirmar Alterações
                    </button>
                </form>
            </div>
        </div>
    </div> 

    <!-- Info modal -->
    <div id="info-modal" data-modal-backdrop="static" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-3/5 max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900">
                        Informações Cliente
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="info-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <form 
                class="p-4 md:p-5"
                >
                    {% csrf_token %}
                    <div class="grid gap-4 mb-4 grid-cols-6">
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Nome</label>
                            <input type="text" name="nome_info" id="nome_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                            <label class="block mb-2 text-sm font-medium text-gray-900">CPF/CNPJ</label>
                            <input type="text" name="cpf_info" id="cpf_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Telefone</label>
                        <input type="text" name="telefone_info" id="telefone_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Telefone Secundário</label>
                        <input type="text" name="telefone2_info" id="telefone2_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">CEP</label>
                        <input type="text" name="cep_info" id="cep_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Logradouro</label>
                        <input type="text" name="logradouro_info" id="logradouro_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Número</label>
                        <input type="text" name="num_logradouro_info" id="num_logradouro_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Complemento</label>
                        <input type="text" name="complemento_logradouro_info" id="complemento_logradouro_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Bairro</label>
                        <input type="text" name="bairro_logradouro_info" id="bairro_logradouro_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">UF</label>
                        <input type="text" name="uf_logradouro_info" id="uf_logradouro_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Município</label>
                        <input type="text" name="municipio_logradouro_info" id="municipio_logradouro_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Data de Nascimento</label>
                        <input type="date" name="data_nasc_info" id="data_nasc_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-6 sm:col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="text" name="email_info" id="email_info" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Observação do cliente</label>
                            <textarea name="observacao_info" id="observacao_info" rows="1" readonly class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>                    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 


{% load static %}

<script src="{% static 'javascript/clientes.js' %}"></script>

{% endblock %}
