{% extends "base.html" %}


{% block conteudo %}
    <div class="container mx-auto my-4">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="text-red-500">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <!-- Conteúdo da página inicial -->
    <div class="container mx-auto my-4 p-4">
        <h1 class="text-3xl font-bold">Bem-vindo ao nosso site!</h1>
        <p class="mt-4">Esta é a página inicial do nosso projeto Django. Use a barra de navegação para acessar outras áreas do site.</p>
    </div>

    {% comment %} <div class="flex flex-row justify-around">
        <div>
        <a href="https://github.com/PedroFonseca08" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" src="https://avatars.githubusercontent.com/u/108371507?v=4" width="115">
            <br>
            <sub>Pedro Fonseca</sub>
        </a>
        
        <a href="https://github.com/VZinii" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" src="https://avatars.githubusercontent.com/u/108377833?v=4" width="115">
            <br>
            <sub>Vitor Pires</sub>
        </a>
    </div> {% endcomment %}
{% endblock %}
